@use 'abstracts/functions' as fn;

$font-family-base: 'Plus Jakarta Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

@mixin text-xs {
  font-size: fn.pxToRem(12);
  line-height: fn.pxToRem(15);
}

@mixin text-sm {
  font-size: fn.pxToRem(14);
  line-height: fn.pxToRem(18);
}

@mixin text-md {
  font-size: fn.pxToRem(16);
  line-height: fn.pxToRem(20);
}

@mixin heading-sm {
  font-size: fn.pxToRem(22);
  line-height: fn.pxToRem(28);
}

@mixin brand-title {
  font-size: fn.pxToRem(24);
  line-height: fn.pxToRem(30);
}
