@use 'abstracts/functions' as fn;

$size-xs: fn.pxToRem(4);
$size-sm: fn.pxToRem(8);
$size-md: fn.pxToRem(16);
$size-lg: fn.pxToRem(24);
$size-xl: fn.pxToRem(32);
$size-2xl: fn.pxToRem(48);
$size-3xl: fn.pxToRem(64);

$radius-xs: fn.pxToRem(2);
$radius-sm: fn.pxToRem(4);
$radius-md: fn.pxToRem(8);
$radius-lg: fn.pxToRem(10);
$radius-xl: fn.pxToRem(12);
$radius-pill: fn.pxToRem(999);

$sidebar-width: fn.pxToRem(257);
$right-sidebar-width: fn.pxToRem(353);
$app-max-width: fn.pxToRem(1440);

$shadow-card: 0 fn.pxToRem(4) fn.pxToRem(8) rgb(6 3 21 / 8%);

$transition-fast: 150ms ease;
$transition-base: 200ms ease;

$z-header: 100;
$z-sidebar: 200;
$z-dropdown: 1000;
$z-sticky: 1020;
$z-fixed: 1030;
$z-modal: 1050;
